
body /*color detras de la pagina*/
{
    background-color: #eeddd2;
}

@mixin tamanio ($ancho, $alto, $estiloborde,$colorborde, $radioborde, $anchoborde) 
{
    width: $ancho;/*ancho*/
    height: $alto;/*alto*/
    border-style: $estiloborde; /*borde solido*/
    border-color: $colorborde; /*color de borde*/
    border-radius: $radioborde; /*redondear el borde*/
    border-width: $anchoborde; /*ancho de borde*/
    
}

.imagencuadrada
{
    @include tamanio(250px, 270px, solid, white, 30px, 4px);
}

.logofooter /*los logos de intagram facebook y whatapp del footer*/
{
    margin-left: 20px;
    border-style: none; /*sin borde*/
    text-align: center;/*central el texto*/
    float: left;/*la imagen se va hacia la izquierda*/
}

.logonavbar/*logo del navbar*/
{
  
    border-style: solid; /*borde solido*/
    border-color: white; /*color de borde*/
    border-radius: 100px; /*redondear el borde*/
    border-width: 2px; /*ancho de borde*/
   
}

