.extend-formatosdetitulos
{
    text-align: center;/*central el texto*/
    text-shadow: 3px 5px 5px grey; /*efecto difuminado*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;/*fuente de texto*/
 
    color: white;/*color del titulo*/
    
}


.titulo /*titulo principal*/
{
    @extend .extend-formatosdetitulos;
    padding: 10px;/*el ancho del titulo*/
    font-size: 2rem; /*ancho de fuente*/ 
}

.titulosecundario /*titulo secundario*/
{
    @extend .extend-formatosdetitulos;
    margin-left: 150px;
    margin-right: 150px;
    font-size: 1rem; /*ancho de fuente*/ 
}


