.titulo /*titulo principal*/
{
    text-align: center;/*central el texto*/
    text-shadow: 3px 5px 5px grey; /*efecto difuminado*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;/*fuente de texto*/
    padding: 10px;/*el ancho del titulo*/
    color: white;/*color del titulo*/
    font-size: 30px; /*ancho de fuente*/ 
}